<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style-about.css">
</head>
<body>
    <div id="top-section">
        <header>
            <img id="logo" src="/img/logo.jpg">
            <nav>
                <ul id="nav-list">
                    <li class="nav-list-item"><a class ="link" href="/">Home</a></li>
                    <li class="nav-list-item"><a class ="link" href="/about">About</a></li>
                    <li class="nav-list-item"><a class ="link" href="/works">Works</a></li>
                </ul>
            </nav>
        </header>
        <hr>
        <div id="about-section">
            <h1><em>WHO ARE IVY LAB?</em></h1>
            <p>Originally starting life as a trio, North London outfit Ivy Lab were brought together out of a shared enthusiasm for experimentations on the fringes of the UK bass music scene. The years that followed saw them go from strength to strength, earning a place in ‘The top 10 DJ’s of 2015’ (Mixmag) and propagating a new generation of hip-hop inspired abstractions housed within the framework of their ’20/20 LDN’ project.</p>
            <p>The duo now find themselves at the apex of the ‘Halftime’ / ‘Future Beats’ / movement – A motley assortment of actors from across the bass music landscape applying their sonic-heritage to experiments with hip-hop and drum machine electronica.</p>
            <p>Ivy Lab invested further in the exploration of this sound with the creation of their ‘20/20 LDN’ clubnight. Housed primarily at Brixton’s Phonox nightclub, it earned the characterisation of “ultra innovative” (Timeout Magazine) and a “London standout” (Mixmag).</p>
        </div>
        <div id="second-section">
            <h2>Contact Us</h2>
            <form>
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" placeholder="Enter first name">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" placeholder="Enter last name">
                <label for="message">Message</label>
                <input type="text" id="message" placeholder="Enter message">
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>