@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#top-section{
    width: 100vw;
    position: fixed;
    background-color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 5vw;
}

#nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-list-item{
    padding-right: 4rem;   
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

hr {
    padding: 0;
    margin: 0;
}